[package]
name = "cwu-settings"
version.workspace = true
authors.workspace = true
repository.workspace = true
homepage.workspace = true
license.workspace = true
edition.workspace = true

[dependencies]
config = { workspace = true }
serde = { workspace = true, features = ["derive"] }
