[package]
name = "cwu-mnemonic"
version.workspace = true
authors.workspace = true
repository.workspace = true
homepage.workspace = true
license.workspace = true
edition.workspace = true

[dependencies]
bip39 = { workspace = true, features = ["rand"] }
